body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    background-color: #f0f0f0;
    padding: 15px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

li{
    display: inline;
    margin-right: 10px;
}

section{
    margin: 20px;
    padding: 10px;
    border: 1px solid #000000;
}

